<legend>components/credit-report-form.hbs</legend>
<dl>
  <dt>firstName</dt>
  <dd>
    cs:
    <input
      onblur={{action onValidate changeset "firstName"}}
      oninput={{action (mut (get changeset "firstName")) value="target.value"}}
      value={{get changeset "firstName"}}>
    <code>{{changeset.firstName}}</code>
    <br>
    model: {{input value=model.firstName}}
    <code>{{model.firstName}}</code>
  </dd>
  <dt>lastName</dt>
  <dd>
    cs: <input
      onblur={{action onValidate changeset "lastName"}}
      oninput={{action (mut (get changeset "lastName")) value="target.value"}}
      value={{get changeset "lastName"}}>
    <code>{{changeset.lastName}}</code>
    <br>
    model: {{input value=model.lastName}}
    <code>{{model.lastName}}</code>
  </dd>
  <dt>dob</dt>
  <dd>
    {{#date-picker
      changeset=changeset
      onMutate=(action "onMutate" changeset "dob")
      onValidate=onValidate as |dob date model changeset|}}
      <fieldset>
        <legend>credit-report-form (block)</legend>
        cs:
        {{dob.month}}
        <span class="t-Light t-XL u-ml--SM">/</span>
        {{dob.day}}
        <span class="t-Light t-XL u-ml--SM">/</span>
        {{dob.year}}
        <br>
        changeset:
        <code>
          {{changeset.month}}/
          {{changeset.day}}/
          {{changeset.year}}
        </code>
        <br>
        model:
        <code>
          {{model.month}}/
          {{model.day}}/
          {{model.year}}
        </code>
        <br>
        <code>date-picker date: {{date}}</code><br>
        {{#each dob.errors as |error|}}
          {{#each error.validation as |message|}}
            <p>{{message}}</p>
          {{/each}}
        {{/each}}
      </fieldset>
    {{/date-picker}}
    <code>credit-report-form dob: {{get changeset "dob"}}</code>
  </dd>
</dl>

{{yield (hash errors=changeset.errors)}}

{{#each changeset.errors as |errorField|}}
  {{#each errorField.validation as |error|}}
    {{error}}
    <br>
  {{/each}}
{{/each}}

<button {{action onSubmit changeset}}
  disabled={{or changeset.isInvalid changeset.isPristine}}
  >Submit</button>